[Desktop Entry]
Encoding=UTF-8
Name=Custom Toolbox
Name[ca]=Custom Toolbox
Name[de]=Custom Toolbox
Name[el]=Custom Toolbox
Name[es]=Custom Toolbox
Name[fr]=Custom Toolbox
Name[it]=Custom Toolbox
Name[ja]=Custom Toolbox
Name[nl]=Custom Toolbox
Name[sv]=Custom Toolbox
Comment=
Comment[ca]=
Comment[de]=
Comment[el]=
Comment[es]=
Comment[fr]=
Comment[it]=
Comment[ja]=
Comment[nl]=
Comment[sv]=
Exec=custom-toolbox
Terminal=false
Type=Application
Icon=custom-toolbox
Categories=GNOME;GTK;System;
NoDisplay=false
