[Desktop Entry]
Encoding=UTF-8
Name=Custom Toolbox
Name[ca]=Custom Toolbox
Name[de]=Custom Toolbox
Name[el]=Custom Toolbox
Name[es]=Custom Toolbox
Name[fr]=Custom Toolbox
Name[it]=Custom Toolbox
Name[ja]=Custom Toolbox
Name[nl]=Custom Toolbox
Name[sv]=Custom Toolbox
Exec=custom-toolbox
Terminal=false
Type=Application
Icon=custom-toolbox.svg
Categories=GNOME;GTK;System;
NoDisplay=false
