[Desktop Entry]
Encoding=UTF-8
Name[ca]=Caixa d'Eines personalitzada
Name[cs]=Custom Toolbox
Name[el]=Προσαρμοσμένη Εργαλειοθήκη
Name[es]=Caja de herramientas personalizada
Name[es_ES]=Herramientas personalizadas
Name[fr]=Boîte à outils personnalisée - Custom Toolbox
Name[fr_BE]=Boîte à outils personnalisée - Custom Toolbox
Name[he_IL]=ערכת כלים משלך
Name[hu]=Saját eszköztár
Name[it]=Cassetto degli strumenti personalizzato
Name[ja]=カスタムツールボックス
Name[nb]=Selvvalgt verktøykasse
Name[nl]=Aangepast Gereedschap
Name[pt]=Ferramentas Personalizadas
Name[pt_BR]=Personalizador da Caixa de Ferramentas
Name[ru]=Пользовательский набор инструментов
Name[sl]=Prilagojena orodjarna
Name[sq]=Grup Vetjak Mjetesh
Name[sv]=Inställbar Verktygslåda
Name[tr]=Özel Araç Kutusu
Name=Custom Toolbox
Exec=custom-toolbox
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/custom-toolbox.svg
Categories=GNOME;GTK;System;
NoDisplay=false
